{% extends "_base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <main class="form-signin w-100 m-auto">
      <form role="form" method="post" action="">
        {{ form.csrf_token }}
        <h1 class="h5 mb-3 fw-normal text-center">Reset Password</h1>
        <div class="form-floating">
          {{ form.password(placeholder="New password", class="form-control mb-2") }}
          {{ form.password.label }}
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="form-floating">
          {{ form.confirm(placeholder="Confirm password", class="form-control mb-2") }}
          {{ form.confirm.label }}
          {% if form.confirm.errors %}
            {% for error in form.confirm.errors %}
              <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>
        <button class="w-100 btn btn-sm btn-primary" type="submit">Update Password</button>
        <p class="text-center mt-3"><a href="{{ url_for('accounts.login') }}">Back to login</a></p>
      </form>
    </main>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock %}
